{% extends "blog/base.html" %}
{%load crispy_forms_tags %}
{% load static %}
{%block head%}
    <link rel="stylesheet" href="{% static 'users/register.css'%}">
{%endblock%}


{% block title%}
    {% comment %} <h1>Join today!</h1> {% endcomment %}
{% endblock title%}

{%block post-card%}
                   
     
    <legend class = "border-bottom mb-4">Password Reseted</legend>
    <div class="alert alert-info">
        Your password has been reseted successfully.

    </div>
     <div class="border-top pt-3">
                <small class = "text-muted mx-3"><a href = "{%url 'login'%}">Sign In</a> </small>
                
     </div>
    
    



            
            
       
        
    

    
               
{%endblock post-card%}