{% extends "blog/base.html" %}
{% load static %}
{%block head%}
    <link rel="stylesheet" href="{% static 'users/register.css'%}">
{%endblock%}


{% block title%}
    {% comment %} <h1>Join today!</h1> {% endcomment %}
{% endblock title%}

{%block post-card%}
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">  
                <legend class = "border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete <em>"{{object.title}}"</em></h2>
                
            </fieldset>
            <div class="form-group mt-3 mb-3">
                <button type = 'submit' class = "btn  btn-outline-danger" style = "background-color:red;" >Yes, Delete</button>
                <a type = 'submit' class = "btn  btn-outline-secondary" href = "{%url "post-detail" object.id %}">Cancel</a>
            </div>
            
            
        </form>
        
    

    
               
{%endblock post-card%}