{%extends "blog/base.html"%}
{%block post-card%}
    {% comment %} <h1 class = mb-3>Posts by {{view.kwargs.username}}</h1> {% endcomment %}
    <legend class = " mb-4 display-5">Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</legend>

    {%if messages%}    
            
        {%for message in messages%}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {%endfor%}
            
    {%endif%}
    
    
    {%for item in posts%}
        
        
        <div class="card mb-4">
            <div class="card-footer text-muted">
                <img src="{{item.author.profile.image.url}}" class="card-img-top article-img rounded-circle" style = "height:50px; width:50px "alt="Blog image">
                <small>Posted on {{item.date_posted | date:"F d, Y"}} by <a href="{%url "user-post" item.author%}" class="text-primary">{{item.author}}</a></small>
            
        </div>

            
            <div class="card-body mb-3">
                <a href = "{%url 'post-detail' item.id %}" style ="color:black; text-decoration:none"><h5 class="card-title" >{{item.title}}</h5></a>
                <p class="card-text text-truncate">{{item.content}}</p>

                <div class="collapse" id="collapseExample.{{item.id}}">
                    <div class="">
                        {{item.content}}
                    </div>
                </div>

                <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample.{{item.id}}" aria-expanded="false" aria-controls="collapseExample">Read More</button>
                
            </div>
        </div>
    {%endfor%}

    {%if is_paginated%}
        {%if page_obj.has_previous%}
            <a type="button" class="btn btn-info" href = "?page=1">First</a>
            <a type="button" class="btn btn-secondary" href = "?page={{page_obj.previous_page_number}}" style = "background-color: grey;">Previous</a>
        {%endif%}

        {%for page in page_obj.paginator.page_range%}
            {%if page == page_obj.number%}
                <a type="button" class="btn btn-secondary" href = "?page={{page}}" style = "background-color: grey;">{{page}}</a>
            {%elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3'%}
                <a type="button" class="btn btn-secondary" href = "?page={{page}}">{{page}}</a>

            {%endif%}
        {%endfor%}
        {%if page_obj.has_next%}
            <a type="button" class="btn btn-info" href = "?page={{page_obj.next_page_number}}">Next</a>
            <a type="button" class="btn btn-info" href = "?page={{page_obj.paginator.num_pages}}">Last</a>

        {%endif%}
    {%endif%}


                    
                
{%endblock post-card%}







{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {%if page_title%}
            <title>{{page_title}}</title>
        {%else%}
            <title>django_blog</title>
        {%endif%}
</head> 
<body>
    <h1>Home</h1>
    <div class="post">
        {%for item in post%}
            <span>{{item.author}}</span>  <span>{{item.published}}</span>
            <h1>{{item.title}}</h1>
            <p>{{item.content}}</p>

        {% endfor %}
    </div>

    
</body>
</html> {% endcomment %}